# Day objectives
- iterative statements
- jumping statements
- python data structures
      - list
      - Tuples
      - dictionaries
      - sets

# iterative statements
- doing task again and again
- 2 types
  ->for loop
   ,while loop

In [5]:
range(10)
range(1,10)
range(1,10,2)

range(1, 10, 2)

In [7]:
for i in range(0,10):
    print("upendra M.K reddy")

upendra M.K reddy
upendra M.K reddy
upendra M.K reddy
upendra M.K reddy
upendra M.K reddy
upendra M.K reddy
upendra M.K reddy
upendra M.K reddy
upendra M.K reddy
upendra M.K reddy

In [14]:
'a' in 'hi ra'
'101' in '101100101'
'101100101'.count('101')

2

In [15]:
for var_name in range(10):
    print(var_name)

0
1
2
3
4
5
6
7
8
9

In [3]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [4]:
for j in range(2,10):
    print(j,end=" ")

2 3 4 5 6 7 8 9

In [6]:
for i in range(1,10,2):
    print(i,end=" ")

1 3 5 7 9

In [8]:
for j in range(0,10,2):
    print(j,end=" ")

0 2 4 6 8

In [14]:
for odd in range(1,100,2):
    print(odd,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [13]:
for even in range(0,100,2):
    print(even,end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [18]:
for i in range(100,1,-2):
    print(i,end=" ")

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [19]:
for i in range(100,0,-2):
    print(i,end=" ")

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [20]:
for i in range(99,0,-2):
    print(i,end=" ")

99 97 95 93 91 89 87 85 83 81 79 77 75 73 71 69 67 65 63 61 59 57 55 53 51 49 47 45 43 41 39 37 35 33 31 29 27 25 23 21 19 17 15 13 11 9 7 5 3 1

In [23]:
name = "apssdc"
print(name[0])
print(name[-1])
print(name[len(name)-1])

a
c
c

In [25]:
for pos in range(len(name)):
    print(name[pos],end=" ")

a p s s d c

In [26]:
for i in [1,2,3,4,5,6,7,8,9]:
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [30]:
for ch in name:
    print(ch,end=" ")

a p s s d c

In [45]:
num = int(input("Enter a number:"));  
for i in range(1,11):  
    print(num,"*",i,"=",num*i)

Enter a number:3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [50]:
n = int(input("enter a number"))
for i in range(1,n+1):
    for j in range(1,11):
        print(i,"*",j,'=',i*j)
    print(" ")

enter a number2
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [54]:
n = int(input("enter a number"))
for i in range(1,11):
    for j in range(1,n+1):
        print(j,"*",i,"=",i*j,end="  ")
    print("")

enter a number3
1 * 1 = 1  2 * 1 = 2  3 * 1 = 3
1 * 2 = 2  2 * 2 = 4  3 * 2 = 6
1 * 3 = 3  2 * 3 = 6  3 * 3 = 9
1 * 4 = 4  2 * 4 = 8  3 * 4 = 12
1 * 5 = 5  2 * 5 = 10  3 * 5 = 15
1 * 6 = 6  2 * 6 = 12  3 * 6 = 18
1 * 7 = 7  2 * 7 = 14  3 * 7 = 21
1 * 8 = 8  2 * 8 = 16  3 * 8 = 24
1 * 9 = 9  2 * 9 = 18  3 * 9 = 27
1 * 10 = 10  2 * 10 = 20  3 * 10 = 30

In [55]:
# print '*' without using loopn=int(input("enter a number"))
n=int(input("enter a number"))
for i in range(1,n):
    print('*'*i)

enter a number10
*
**
***
****
*****
******
*******
********
*********

In [6]:
a=int(input())
b=int(input())
c=int(input())
def big(a,b,c):
    if a>b & a>c:
        return a
    elif b>c:
        return b
    else:
        return c
rs=big(a,b,c)
print("%d is biggest"%(rs))

3
2
6
6 is biggest

In [3]:
p=int(input())

def prime(p1):
    re=p1
    count=0
    while(re!=0):
        if(p1%re==0):
            count+=1
            re-=1
        else:
            re-=1
    return count
pi=prime(p)
if(pi==2):
    print("prime")
else:
    print("not prime")

4
not prime

In [25]:
a=int(input())
b=int(input())
c=int(input())
def small(a,b,c):
    if a<b and a<c:
        return a
    elif b<c:
        return b
    else:
        return c
rs=small(a,b,c)
print("%d is small"%(rs))

5
6
9
5 is small

In [18]:
def fact(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    return f

In [13]:
num = int(input("enter a number:"))
print(fact(num))

enter a number:5
120

In [17]:
start_val = int(input("enter a starting number:"))
end_val = int(input("enter a ending value:"))
for i in range(start_val,end_val+1):
    print(fact(i))

enter a starting number:1
enter a ending value:5
1
2
6
24
120

In [1]:
def pali(n):
    a=n[::-1]
    if n==a:
        return 1
    else:
        return 0
a=input()
if pali(a)==1:
    print("palindrome")
else:
    print("not palindrome")

upendra
not palindrome

# jumping statements
   - break
   - continue

In [5]:
for i in range(1,100):
    if i%5==0:
        continue
    print(i,end=" ")

1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29 31 32 33 34 36 37 38 39 41 42 43 44 46 47 48 49 51 52 53 54 56 57 58 59 61 62 63 64 66 67 68 69 71 72 73 74 76 77 78 79 81 82 83 84 86 87 88 89 91 92 93 94 96 97 98 99

# python Datastructures

### list
- it is data structure
- it is a mutable
- for deriving list we are using[ and ]
- and also it is data type

In [12]:
li=[123,234.98,'upendra']
print(type(li))
print(li)

<class 'list'>
[123, 234.98, 'upendra']

In [15]:
print(li[0])
print(li[2])
print(len(li))

123
upendra
3

In [16]:
li[::-1]

['upendra', 234.98, 123]

In [18]:
li.insert(1,"reddy")
li

[123, 'reddy', 'reddy', 234.98, 'upendra']

In [20]:
li.append("mani")
li

[123, 'reddy', 'reddy', 234.98, 'upendra', 'mani', 'mani']

In [22]:
dir(li)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [24]:
li.remove("reddy")
li

[123, 234.98, 'upendra', 'mani', 'mani']

In [26]:
li.remove("mani")
li

[123, 234.98, 'upendra', 'mani']

In [28]:
li.insert(2,45)
li

[123, 234.98, 45, 45, 'upendra', 'mani']

In [29]:
li.index(234.98)
li

[123, 234.98, 45, 45, 'upendra', 'mani']

In [30]:
li.pop()

'mani'

In [32]:
li

[123, 234.98, 45, 45, 'upendra']

In [36]:
li1.append(78)

In [37]:
li1,li

([123, 234.98, 45, 45, 'upendra', 78, 78],
 [123, 234.98, 45, 45, 'upendra', 78, 78])

In [38]:
li.remove(234.98)

In [39]:
li,li1

([123, 45, 45, 'upendra', 78, 78], [123, 45, 45, 'upendra', 78, 78])

In [40]:
li2 = li.copy()

In [41]:
li2,li

([123, 45, 45, 'upendra', 78, 78], [123, 45, 45, 'upendra', 78, 78])

In [47]:
li2.append(34)

In [48]:
li2,li

([123, 45, 45, 'upendra', 78, 78, 34, 34], [123, 45, 45, 'upendra', 78, 78])

In [49]:
li.count(45)

2

In [50]:
li.append(li1)

In [51]:
li

[123, 45, 45, 'upendra', 78, 78, [...]]

In [54]:
li[5]

78

In [57]:
li1 = [12,34,32.15,"upendra"]
li1

[12, 34, 32.15, 'upendra']

In [58]:
li2 = li1.copy()

In [59]:
li2

[12, 34, 32.15, 'upendra']

In [60]:
li2,li1

([12, 34, 32.15, 'upendra'], [12, 34, 32.15, 'upendra'])

In [61]:
li1.append(li2)

In [62]:
li1

[12, 34, 32.15, 'upendra', [12, 34, 32.15, 'upendra']]

In [64]:
li1[4][2]

32.15

In [68]:
li.pop(2)

123

In [69]:
li.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [71]:
li1.pop(4)

[12, 34, 32.15, 'upendra']

In [72]:
li1.pop(3)

'upendra'

In [73]:
li1.sort()

In [74]:
li1

[12, 32.15, 34]

In [75]:
max(li1)

34

In [77]:
min(li1)

12

In [78]:
sum(li1)

78.15

In [85]:
n = int(input())
vals = list(map(int,input().split()))
print(sum(vals))

5
1 2 3 4 5
15

In [84]:
n = int(input())

print(sum(list(map(int,input().split()))))

5
1 2 3 4 5
15

In [1]:
# dynamic list generation
li = [] # li=list()
n = int(input("enter the size of list:"))
for i in range(n):
    val = int(input("enter value"))
    li.append(val)
print(li)
print("max value is:",max(li))
print("min value is:",min(li))
print("average value is:",sum(li)/length(li))

enter the size of list:5
enter value5
enter value6
enter value3
enter value6
enter value7
[5, 6, 3, 6, 7]
max value is: 7
min value is: 3

NameError: name 'length' is not defined

# tuples
- it is a data structure
- it is a data type
- it is immutable

In [3]:
t=('upendra',32.15,99)
t

('upendra', 32.15, 99)

In [4]:
t[::-1]

(99, 32.15, 'upendra')

In [5]:
t

('upendra', 32.15, 99)

In [6]:
list(t)

['upendra', 32.15, 99]

In [7]:
t

('upendra', 32.15, 99)

# sets
- it is a data structure
- it is a data type

In [8]:
s = {1,2,3,1,2,3,4,5,5,4}
print(s)

{1, 2, 3, 4, 5}

In [9]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [3]:
n = input("enter the string")
li = list()
li = n.split()
li 
for i in range(len(li)):
    a=li.count(li[i])
    print(a)

enter the stringabc adc dfa abf baf
1
1
1
1
1